@model SlnCrudASPnet7MVC.Models.Contacto

@{
    ViewData["Title"] = "Crear Nuevo Contacto";
}


<h1 class="text-center">CONTACTO CON .NET 7 (.NET CORE MCV)</h1>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Lista de Usuarios</strong></h3>
            </div>
        </div>
        <div class="card-body">
            <form asp-action="Crear" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" placeholder="Ingresa el nombre"></>
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" placeholder="Ingresa el telefono"></>
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Movil" class="control-label"></label>
                    <input asp-for="Movil" class="form-control" placeholder="Ingresa el Movil"></>
                    <span asp-validation-for="Movil" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="Ingresa el E-mail"></>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

            </form>
        </div>
    </div>
</div>
